<h1>Brand ERB</h1>
<h1><%= @brand.name%></h1>

<a href="/brands/<%=@brand.id%>"><img src="<%=@brand.img_url%>" width="150"></a>
<br><a href="/brands/<%=@brand.id%>/edit">modify</a>


<h2>Shoes:</h2>
<p>Sort by <a href="/brands/<%=@brand.id%>/order_price">Price</a> | <a href="/brands/<%=@brand.id%>">Name</a>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Shoes</th>
      <th scope="col">Brand</th>
      <th scope="col">Price</th>
      <th scope="col">Locations</th>
    </tr>
  </thead>
  <tbody>
<% @shoes.each do |shoe| %>
    <tr>
      <td><a href="/shoes/<%=shoe.id%>"><%= shoe.name %></a></td>
      <td><%= shoe.brand.name %></td>
      <td><%= shoe.pricify %></td>
      <td><%= shoe.stores.length %></td>
    </tr>
    <% end %>
  </tbody>
</table>


<h2><%=@brand.name%> Sold at These Stores:</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Stores</th>
      <th scope="col">Location</th>
    </tr>
  </thead>
  <tbody>
<% @stores.each do |store| %>
<tr>
  <td><a href="/stores/<%=store.id%>"><%= store.name %></a></td>
  <td><%= store.location %></td>

</tr>
<% end %>
</tbody>
</table>
