<h1>Brand Editor ERB</h1>
<h1><%= @brand.name%></h1>

<h2>Shoes:</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Shoes</th>
      <th scope="col">Brand</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
<% @shoes.each do |shoe| %>
    <tr>
      <td><%= shoe.name %></td>

      <td><%= shoe.brand.name %></td>

      <td><%= shoe.price %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<p>Add Shoe:</p>
<form action="/brands/<%=@brand.id%>/edit" method="post">
  <input type="text" name="shoe_name" class="form-control" placeholder="Shoe Name" autocomplete="off"><br>
  <input type="text" name="price" class="form-control" placeholder="Shoe Price" autocomplete="off"><br>
  <button type="submit" title="Add Shoe" class="btn-lg">Add</button>
</form>

<h2>Available at These Stores:</h2>
<% @stores.each do |store| %>
  <p><a href="/stores/<%=store.id%>"><%= store.name %></a></p>
<% end %>
