<h1>Brand ERB</h1>
<h1><%= @brand.name%></h1>

<a href="/brands/<%=@brand.id%>/edit">Edit</a>


<h2>Shoes:</h2>
<p>Sort by <a href="/brands/<%=@brand.id%>/order_price">Price</a> | <a href="/brands/<%=@brand.id%>">Name</a>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Shoes</th>
      <th scope="col">Brand</th>
      <th scope="col">Price</th>
      <th scope="col">Edit/Delete</th>
    </tr>
  </thead>
  <tbody>
<% @shoes.each do |shoe| %>
    <tr>
      <td><%= shoe.name %></td>
      <td><a href="/brands/<%= shoe.brand.id%>/edit"><%= shoe.brand.name %></a></td>
      <td><%= shoe.price %></td>
      <td><a href="/shoes/<%= shoe.id %>">Edit</a> / <a href="/shoes/<%= shoe.id %>/delete">Delete</a></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h2>Available at:</h2>
<% @stores.each do |store| %>
  <p><a href="/stores/<%=store.id%>"><%= store.name %></a></p>
<% end %>
