<h1>Brand Editor ERB</h1>
<h1><%= @brand.name%></h1>
<img src="<%= @brand.img_url%>" width="150">
<h3>Name:</h3>
<form action="/brands/<%= @brand.id%>/edit" method="post">
  <input name="_method" type="hidden" value="patch">
  <input name="brand_name" class="form-control" type="text" placeholder="Change Name" value="<%= @brand.name %>">
<h3>Image URL:</h3>
    <input name="img_url" value="<%= @brand.img_url %>" class="form-control" type="text" placeholder="Add Img URL">
  <br><button type="submit" class="btn-lg">Save</button>
</form>

<h2>Shoe Locator</h2>
<p>Sort by <a href="/brands/<%=@brand.id%>/edit">Name</a> | <a href="/brands/<%=@brand.id%>/order_price">Price</a>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Shoes</th>
      <th scope="col">Brand</th>
      <th scope="col">Price</th>
      <th scope="col">Edit/Delete</th>
    </tr>
  </thead>
  <tbody>
<% @shoes.each do |shoe| %>
    <tr>
      <td><a href="/shoes/<%= shoe.id%>"><%= shoe.name %></a></td>
      <td><a href="/brands/<%= shoe.brand.id%>/edit"><%= shoe.brand.name %></a></td>
      <td><%= shoe.pricify %></td>
      <td><a href="/shoes/<%= shoe.id %>">Edit</a> / <a href="/shoes/<%= shoe.id %>/edit">Delete</a></td>
    </tr>
    <% end %>
  </tbody>
</table>




<p>Add Shoe:</p>
<form action="/brands/<%=@brand.id%>/add_shoe" method="post">
  <input type="text" name="shoe_name" class="form-control" placeholder="Shoe Name" autocomplete="off"><br>
  <input type="text" name="shoe_price" class="form-control" placeholder="Shoe Price" autocomplete="off"><br>
  <button type="submit" title="Add Shoe" class="btn-lg">Add</button>
</form>

<h2>Sold at These Stores:</h2>
<% @stores.each do |store| %>
  <p><a href="/stores/<%=store.id%>"><%= store.name %></a></p>
<% end %>
