<h1>Index ERB</h1>
<h2>Store Locator</h2>
<% @stores.each do |store| %>
<p><a href="stores/<%=store.id%>"><%= store.name %></a> | <a href="stores/<%=store.id%>/edit">edit</a></p>
<%end%>

<p>Add Store:</p>
<form action="/" method="post">
  <input style="min-width: 70%" type="text" name="store_name" class="form-control" placeholder="Store" autocomplete="off">
  <button type="submit" title="Add Store" class="btn btn-info btn-simple btn-xs">Add</button>
</form>


<h2>Shoe Locator</h2>
<p>Sort by <a href="/brands">Brand</a> | <a href="/stores">Location</a>
<% @shoes.each do |shoe| %>
<p><%= shoe.name %> <%= shoe.brand %> <%= shoe.price %> <%= shoe.store%></p>
<%end%>
