<h1>Shoe ERB</h1>
<h1><%= @shoe.brand.name%> <%= @shoe.name%></h1>


<h3>Name:</h3>
<form action="/shoes/<%= @shoe.id%>" method="post">
  <input name="_method" type="hidden" value="patch">
  <input name="shoe_name" class="form-control" type="text" placeholder="Change Name" value="<%= @shoe.name %>">
<h3>Price:</h3>
    <input name="price" value="<%= @shoe.price %>" class="form-control" type="text" placeholder="Add / CHange Price" pattern="\[0-9$]{1,5}">
  <br><button type="submit" class="btn-lg">Save</button>
</form>
<!-- <input type="button" class="btn-lg" value="Back" onclick="history.back(-4)" /> -->

<h2>Available at these stores:</h2>
<% @shoe.stores.each do |store| %>
  <p><a href="/stores/<%=store.id%>"><%= store.name %></a></p>
<% end %>
