<h1>Shoe ERB</h1>
<h1><%= @shoe.brand.name%> <%= @shoe.name %> <%= @shoe.pricify %></h1>
<a href="/shoes/<%=@shoe.id%>/edit">modify</a>
<a href="/brands/<%= @shoe.brand.id%>"><img src="<%=@shoe.brand.img_url%>" width="150"></a>

<!-- <input type="button" class="btn-lg" value="Back" onclick="history.back(-4)" /> -->

<h2>Available at these stores:</h2>
<% @shoe.stores.each do |store| %>
  <p><a href="/stores/<%=store.id%>"><%= store.name %></a></p>
<% end %>
