<h1>Shoes ERB</h1>
<h2>Shoe Locator</h2>
<p>Sort by <a href="/shoes/order_price">Price</a> | <a href="/shoes">Brand</a>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Shoes</th>
      <th scope="col">Brand</th>
      <th scope="col">Price</th>
      <th scope="col">Edit/Delete</th>
    </tr>
  </thead>
  <tbody>
<% @shoes.each do |shoe| %>
    <tr>
      <td><%= shoe.name %></td>
      <td><%= shoe.brand.name %></td>
      <td><%= shoe.price %></td>
      <td><a href="/shoes/<%= shoe.id %>">Edit</a> / <a href="/shoes/<%= shoe.id %>/delete">Delete</a></td>
    </tr>
    <% end %>
  </tbody>
</table>

<% @brands.each do |brand|%>
<img src="<%= brand.img_url%>">
<%end%>
