<h1>Shoe ERB</h1>
<h1><%= @shoe.brand.name%> <%= @shoe.name %> <%= @shoe.pricify %></h1>

<a href="/brands/<%= @shoe.brand.id%>"><img src="<%=@shoe.brand.img_url%>" width="150"></a>
<br><a href="/shoes/<%=@shoe.id%>/edit">modify</a>
<!-- <input type="button" class="btn-lg" value="Back" onclick="history.back(-4)" /> -->
<h2><%=@shoe.brand_name%> <%= @shoe.name %> Sold At These Stores:</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Location</th>

    </tr>
  </thead>
  <tbody>
<% @shoe.stores.each do |store| %>
<tr>
  <td><a href="stores/<%=store.id%>"><%= store.name %></a></td>
  <td><%= store.location %></td>

</tr>
<% end %>
</tbody>
</table>
