<h1>Shoes ERB</h1>
<h2>Shoe Locator</h2>
<p>Sort by <a href="/shoes/order_name">Name</a> | <a href="/shoes/order_price">Price</a> | <a href="/shoes">Brand</a>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Shoes</th>
      <th scope="col">Brand</th>
      <th scope="col">Price</th>
      <th scope="col">Locations</th>
    </tr>
  </thead>
  <tbody>
<% @shoes.each do |shoe| %>
    <tr>
      <td><a href="/shoes/<%=shoe.id%>"><%= shoe.name %></a></td>
      <td><a href="/brands/<%=shoe.brand_id%>"><%= shoe.brand.name %></a></td>
      <td><%= shoe.pricify %></td>
      <td><%= shoe.stores.length%></td>
    </tr>
    <% end %>
  </tbody>
</table>


<%@brands.each do |brand|%>
<a href="/brands/<%=brand.id%>"><img src="<%= brand.img_url%>" width="150"></a>
<%end%>
