<h1>Store_editor ERB</h1>
<h1><%= @store.name%> <%= @store.location%></h1>


<h3>Name:</h3>
<form action="/stores/<%= @store.id%>/edit" method="post">
  <input name="_method" type="hidden" value="patch">
  <input name="store_name" class="form-control" type="text" placeholder="Change Name" value="<%= @store.name %>">
<h3>Location:</h3>
<input type="number" value="<%=@store.location%>" name="location" max="100000" class="form-control" placeholder="Zip" autocomplete="off" ><br>
  <br><button type="submit" class="btn-lg">Save</button>
</form>


<h2>Shoe Locator</h2>
<p>Sort by <a href="/stores/<%=@store.id%>/edit">Name</a> | <a href="/stores/<%=@store.id%>/edit/order_price">Price</a> | <a href="/stores/<%=@store.id%>/edit/order_brand">Brand</a>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Shoes</th>
      <th scope="col">Brand</th>
      <th scope="col">Price</th>
      <th scope="col">Edit/Delete</th>
    </tr>
  </thead>
  <tbody>
<% @shoes.each do |shoe| %>
    <tr>
      <td><a href="/shoes/<%= shoe.id%>"><%= shoe.name %></a></td>
      <td><a href="/stores/<%= shoe.brand.id%>/edit"><%= shoe.brand.name %></a></td>
      <td><%= shoe.price %></td>
      <td><a href="/shoes/<%= shoe.id %>">Edit</a> / <a href="/shoes/<%= shoe.id %>/delete">Delete</a></td>
    </tr>
    <% end %>
  </tbody>
</table>



<%@brands.each do |brand|%>
<a href="/brands/<%=brand.id%>"><img src="<%= brand.img_url%>" width="150"></a>
<%end%>



<h2>Add Shoes:</h2>
<form action="/stores/<%=@store.id%>/add_shoe" method="post">
  <select name="shoe_name">
    <% @all_shoes.each do |shoe|%>
    <option value="<%= shoe.name%>"><%= shoe.name%> | <%= shoe.brand.name%> </option>
    <%end%>
  </select>

  <button type="submit" title="Add Shoe" class="btn-lg">Add</button>
</form>
