<h1>Store_editor ERB</h1>
<h1><%= @store.name%> <%= @store.location%></h1>


<h3>Name:</h3>
<form action="/stores/<%= @store.id%>/edit" method="post">
  <input name="_method" type="hidden" value="patch">
  <input name="store_name" class="form-control" type="text" placeholder="Change Name" value="<%= @store.name %>">
<h3>Location:</h3>
    <input name="location" value="<%= @store.location %>" class="form-control" type="text" placeholder="Add Zip Code">
  <br><button type="submit" class="btn-lg">Save</button>
</form>





<h2>Add Shoes:</h2>
<form action="/stores/<%=@store.id%>/add_shoe" method="post">
  <select name="shoe_name">
    <% @all_shoes.each do |shoe|%>
    <option value="<%= shoe.name%>"><%= shoe.name%></option>
    <%end%>
  </select><br>
  <button type="submit" title="Add Shoe" class="btn-lg">Add</button>
</form>


<h2>Available Shoes:</h2>

<% @shoes.each do |shoe| %>
  <p><a href="/shoes/<%=shoe.id%>"><%= shoe.name %></a></p>
  <p><%= shoe.price %></p>
  <p><%= shoe.brand %></p>
<% end %>


<h2>Available Brands:</h2>
<% @brands.each do |brand| %>
  <p><%= brand.name %> <a href="/brands/<%=brand.id%>">view</a> | <a href="/brands/<%= brand.id%>/edit">edit</a></p>
<% end %>
