<h1>Store ERB</h1>
<h1><%= @store.name%></h1>

<a href="/stores/<%=@store.id%>/edit">Edit</a>

<h2>Shoes:</h2>
<p>Sort by <a href="/stores/<%=@store.id%>/order_name">Name</a> | <a href="/stores/<%=@store.id%>/order_price">Price</a> | <a href="/stores/<%=@store.id%>">Brand</a>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Shoes</th>
      <th scope="col">Brand</th>
      <th scope="col">Price</th>
      <th scope="col">Locations</th>
    </tr>
  </thead>
  <tbody>
<% @shoes.each do |shoe| %>
    <tr>
      <td><a href="/shoes/<%= shoe.id%>"><%= shoe.name %></a></td>
      <td><a href="/brands/<%= shoe.brand.id%>/edit"><%= shoe.brand.name %></a></td>
      <td><%= shoe.pricify %></td>
      <td><%= shoe.stores.length%></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%@brands.each do |brand|%>
<a href="/brands/<%=brand.id%>"><img src="<%= brand.img_url%>" width="150"></a>
<%end%>
