<h1>Store ERB</h1>
<h1><%= @store.name%></h1>

<a href="/stores/<%=@store.id%>/edit">Edit</a>

<h2>Available Shoes</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Shoes</th>
      <th scope="col">Brand</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
<% @store.shoes.each do |shoe| %>
    <tr>
      <td><%= shoe.price %></td>

      <td><%= shoe.brand.name %></td>

      <td><%= shoe.brand %></td>
    </tr>
    <% end %>
  </tbody>
</table>




<h2>Brands:</h2>
<% @brands.each do |brand| %>
  <p><a href="/brands/<%=brand.id%>"><img src="<%= brand.img_url%>"><%= brand.name %></a></p>
<% end %>
