<h1>Store_editor ERB</h1>
<h1><%= @store.name%> <%= @store.location%></h1>


<h3>Name:</h3>
<form action="/stores/<%= @store.id%>/edit" method="post">
  <input name="_method" type="hidden" value="patch">
  <input name="store_name" class="form-control" type="text" placeholder="Change Name" value="<%= @store.name %>">
<h3>Location:</h3>
    <input name="location" value="<%= @store.location %>" class="form-control" type="text" placeholder="Add Zip Code">
  <br><button type="submit" class="btn-lg">Save</button>
</form>




<h2>Brands:</h2>

<% @store.shoes.each do |shoe| %>
  <h2><a href="/shoes/<%=shoe.id%>"><%= shoe.name %></a></h2>
  <h2><%= shoe.price %></h2>
  <h2><%= shoe.brand %></h2>
<% end %>

<% @brands.each do |brand| %>
  <h2><a href="/brands/<%=brand.id%>"><%= brand.name %></a></h2>

<% end %>

<form action="/stores/<%=@store.id%>/add_brand" method="post">
  <input style="min-width: 70%" type="text" name="brand_name" class="form-control" placeholder="Brand Name" autocomplete="off">
  <button type="submit" title="Add Brand" class="btn btn-info btn-simple btn-xs">Add</button>
</form>
